# Ignorar las imágenes subidas por los usuarios
public/imgs/Foro_imgs/*
public/imgs/Proyectos_imgs/*
public/imgs/Turismo_imgs/*

# Ignorar carpetas del sistema operativo
.DS_Store
Thumbs.db

# Ignorar la carpeta vendor (dependencias de composer)
/vendor/