Options -Indexes
RewriteEngine On

# Base del proyecto (subcarpeta)
RewriteBase /

# Si el recurso existe físicamente (css, js, imgs), lo sirve directamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Todo lo demás pasa al front controller
RewriteRule ^ public/index.php [QSA,L]

# Asegurar que cargue index.php por defecto
DirectoryIndex public/index.php